<meta http-equiv="refresh" content="05; URL=http://localhost:3000/"> 

<h1> I'm lost</h1>
<div class="h-screen w-screen bg-gray-50 flex-col m-auto ">
    <img src="img/lost.gif"  class="m-auto pt-6 pt-20" />
    
  </div>